USE [master]
GO
/****** Object:  Database [bd203719]    Script Date: 13/12/2021 09:36:25 a. m. ******/
CREATE DATABASE [bd203719]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd203719', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\bd203719.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd203719_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\bd203719_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd203719].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd203719]
GO
USE [bd203719]
GO
/****** Object:  Table [dbo].[medicamentos]    Script Date: 13/12/2021 09:36:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicamentos](
	[idmedicamento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[raza] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
